<footer>
        <div class="row">
                <p>Connect with me on social media!</p>
        </div>
        <div class="row">
                <ul class="social-links">
                        <li><a href="https://www.linkedin.com/in/williamfwilkinson/" target="_blank">
                                        <ion-icon name="logo-linkedin" id="linkedin"></ion-icon>
                                </a></li>
                        <li><a href="https://github.com/wfw40869" target="_blank">
                                        <ion-icon name="logo-github" id="github"></ion-icon>
                                </a></li>
                        <li><a href="https://codepen.io/wfw40869/" target="_blank">
                                        <ion-icon name="logo-codepen" id="codepen"></ion-icon>
                                </a></li>
                </ul>
        </div>
        <div class="row">
                <p>
                        This website was built using great tools like Cloud9, Node.js & Heroku.<br>Handcrafted by me.
                </p>
        </div>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/vendors/js/waypoints.min.js"></script>
<script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>

<script src="/resources/js/main.js"></script>
</body>

</html>