<% include ./partials/header %>

<header>
    <nav>
        <div class="row">
            <a class="mobile-nav-icon js--nav-icon">
                <ion-icon name="menu"></ion-icon>
            </a>
            <ul class="main-nav js--main-nav">
                <li><a href="#" class="js--scroll-to-bio">Bio</a></li>
                <li><a href="#" class="js--scroll-to-skills">Skills</a></li>
                <li><a href="#" class="js--scroll-to-projects">My Projects</a></li>
                <li><a href="#" class="js--scroll-to-contact">Contact</a></li>
                <li><a href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:ed23c9cb-a336-4aaa-932c-edb0b6076cdb"
                        target="_blank">Resume</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero-text-box">
        <h1>Will Wilkinson</h1>
        <p><span class="typed"></span></p>
    </div>
</header>

<section class="bio-section js--section-bio" id="bio">
    <div class="row">
        <h2>Hi, I'm Will. Nice to meet you.</h2>
    </div>
    <div class="row">
        <div class="col box aboutMe__div">
            <p class="aboutMe__p">Tinkering with technology has been a passion of mine since I was a kid. It started
                with upgrading RAM in my computer, and evolved into building my own PC's in college. I originally went
                to school for computer science and computer forensics, but after my fourth year at college I decided to
                change my major to pursue a career in business and landed my first sales job at ADP.
            </p>
            <p class="aboutMe__p">
                After six successful years in sales at ADP and Brown & Brown I realized I wanted a career where I could
                build something that solves a problem. I found web development through a contact of mine and immediately
                started learning everything I could on various websites like Udemy, Freecodecamp and SoloLearn.
                Following a year of learning and building my own projects, I found Nashville Software School where I
                decided to solidify my education by enrolling in their Full-Stack Web Development boot camp. During my
                education so far, I've learned not just about coding, but also what it takes to work with a team of
                developers to build a functional product.
            </p>
        </div>
    </div>
</section>

<section class="skills-section js--section-skills" id="skills">
    <div class="row">
        <h2>My Skills</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-2 box">
            <div class="skills-box js--wp-1">
                <div>
                    <h3>Front-end</h3>
                </div>
                <div>
                    <ul>
                        <li>
                            <ion-icon name="checkbox-outline" class="icon-small"></ion-icon>HTML5
                        </li>
                        <li>
                            <ion-icon name="checkbox-outline" class="icon-small"></ion-icon>CSS3
                        </li>
                        <li>
                            <ion-icon name="checkbox-outline" class="icon-small"></ion-icon>Javascript/jQuery
                        </li>
                        <li>
                            <ion-icon name="checkbox-outline" class="icon-small"></ion-icon>React.js
                        </li>
                        <li>
                            <ion-icon name="checkbox-outline" class="icon-small"></ion-icon>UI/UX Design
                        </li>
                        <li>
                            <ion-icon name="checkbox-outline" class="icon-small"></ion-icon>Bootstrap
                        </li>
                        <li>
                            <ion-icon name="checkbox-outline" class="icon-small"></ion-icon>Semantic UI
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col span-1-of-2 box">
            <div class="skills-box js--wp-2">
                <div>
                    <h3>Back-end</h3>
                </div>
                <div>
                    <ul>
                        <li>
                            <ion-icon name="checkbox-outline" class="icon-small"></ion-icon>Node.js
                        </li>
                        <li>
                            <ion-icon name="checkbox-outline" class="icon-small"></ion-icon>Express
                        </li>
                        <li>
                            <ion-icon name="checkbox-outline" class="icon-small"></ion-icon>MongoDB
                        </li>
                        <li>
                            <ion-icon name="checkbox-outline" class="icon-small"></ion-icon>DevOps
                        </li>
                        <li>
                            <ion-icon name="checkbox-outline" class="icon-small"></ion-icon>VCS
                        </li>
                        <li>
                            <ion-icon name="checkbox-outline" class="icon-small"></ion-icon>RESTful API's
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="projects-section js--section-projects" id="projects">
    <div class="row">
        <h2>Projects</h2>
    </div>
    <div class="row">
        <p>Here are a few of my recent design projects. Want to see more? <a href="mailto:wfw40869@gmail.com">Email
                Me</a></p>
    </div>
    <div class="row">
        <div class="col span-1-of-2 box js--wp-3">
            <figure class="image is-3by2">
                <img class="project-thumb" src="/resources/img/yelpcamp.jpg" alt="YelpCamp logo">
                <figcaption>
                    <h3 class="project-title">What's Cooking</h3>
                    <a href="https://morning-island-33396.herokuapp.com/" class="btn btn-full" target="_blank">View Site
                        <ion-icon name="ios-arrow-forward"></ion-icon></a>
                    <a href="https://github.com/wilkinson4/whats-cooking" class="btn btn-ghost" target="_blank">View
                        Code
                        <ion-icon name="ios-arrow-forward"></ion-icon></a>
                    <div class="overlay"></div>
                </figcaption>
            </figure>
        </div>
        <div class="col span-1-of-2 box">
            <p class="projects-description">
                A simple recipe managing application that allows the user to save and edit recipe results from Google to create their own digital cookbook. Built with React using CRUD methodology, users can search for recipes via the Google Custom Search API and save them to their cookbook. Once they save them they rate their recipes, add notes for future reference and add tags to categorize recipe for fast searching.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-2 box">
            <figure class="image is-3by2">
                <img class="project-thumb" src="/resources/img/omnifood-project.jpg" alt="Omnifood">
                <figcaption>
                    <h3 class="project-title">Nutshell</h3>
                    <a href="https://wilkinson4.github.io/wfwomnifood.github.io/" class="btn btn-full"
                        target="_blank">View Site <ion-icon name="ios-arrow-forward"></ion-icon></a>
                    <a href="https://github.com/nss-day-cohort-34/reactive-nutshell-lowdown-friends"
                        class="btn btn-ghost" target="_blank">View Code <ion-icon name="ios-arrow-forward"></ion-icon>
                    </a>
                    <div class="overlay"></div>
                </figcaption>
            </figure>
        </div>
        <div class="col span-1-of-2 box">
            <p class="projects-description">
                Nutshell is a Front-end social media group project built with React that allows the user to perform CRUD functionality on news articles, events, tasks and group chat messages. I was responsible for the events and tasks
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-2 box">
            <figure class="image is-3by2">
                <img class="project-thumb" src="/resources/img/yelpcamp.jpg" alt="YelpCamp logo">
                <figcaption>
                    <h3 class="project-title">YelpCamp</h3>
                    <a href="https://enigmatic-peak-32725.herokuapp.com/" class="btn btn-full" target="_blank">View Site
                        <ion-icon name="ios-arrow-forward"></ion-icon></a>
                    <a href="https://github.com/wilkinson4/YelpCamp.git" class="btn btn-ghost" target="_blank">View Code
                        <ion-icon name="ios-arrow-forward"></ion-icon></a>
                    <div class="overlay"></div>
                </figcaption>
            </figure>
        </div>
        <div class="col span-1-of-2 box">
            <p class="projects-description">
                YelpCamp is a Full-Stack web application that allows the user to create their own camp sites, or review other camp sites users posted. It is a Node application that utilizes MongoDB for data persistence.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-2 box">
            <figure class="image is-3by2">
                <img class="project-thumb" src="/resources/img/omnifood-project.jpg" alt="Omnifood">
                <figcaption>
                    <h3 class="project-title">Omnifood</h3>
                    <a href="https://wilkinson4.github.io/wfwomnifood.github.io/" class="btn btn-full"
                        target="_blank">View Site <ion-icon name="ios-arrow-forward"></ion-icon></a>
                    <a href="https://github.com/wilkinson4/wfwomnifood.github.io" class="btn btn-ghost"
                        target="_blank">View Code <ion-icon name="ios-arrow-forward"></ion-icon></a>
                    <div class="overlay"></div>
                </figcaption>
            </figure>
        </div>
        <div class="col span-1-of-2 box">
            <p class="projects-description">
                A simple yet responsive food service website that was built using HTML5, CSS3 and jQuery.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-2 box">
            <figure class="image is-3by2">
                <img class="project-thumb" src="/resources/img/weather.jpg" alt="Weather App">
                <figcaption>
                    <h3 class="project-title">Weather App</h3>
                    <a href="https://sheltered-reaches-62236.herokuapp.com/" class="btn btn-full" target="_blank">View
                        Site <ion-icon name="ios-arrow-forward"></ion-icon></a>
                    <a href="https://github.com/wilkinson4/WeatherMapProject" class="btn btn-ghost" target="_blank">View
                        Code <ion-icon name="ios-arrow-forward"></ion-icon></a>
                    <div class="overlay"></div>
                </figcaption>
            </figure>
        </div>
        <div class="col span-1-of-2 box">
            <p class="projects-description">
                A weather application that allows the user to search for 5-day weather forecasts by zip code. Built with Node and Express the application utilizes OpenWeatherMaps API for forecast data.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-2 box">
            <figure class="image is-3by2">
                <img class="project-thumb" src="/resources/img/paeseMioLogo.jpg"
                    alt="Paese Mio Italian Restaurant Logo">
                <figcaption>
                    <h3 class="project-title">Paese Mio</h3>
                    <a href="https://wilkinson4.github.io/paesemio.github.io/" class="btn btn-full" target="_blank">View
                        Site <ion-icon name="ios-arrow-forward"></ion-icon></a>
                    <a href="https://github.com/wilkinson4/paesemio.github.io" class="btn btn-ghost"
                        target="_blank">View
                        Code <ion-icon name="ios-arrow-forward"></ion-icon></a>
                    <div class="overlay"></div>
                </figcaption>
            </figure>
        </div>
        <div class="col span-1-of-2 box">
            <p class="projects-description">
               A modern re-design of a local Italian Restaurant's website using HTML5, CSS3 and jQuery. I wanted to give the website a clean look and a modern feel. All of the photos and logos were personally created and edited by myself using Affinity Design and Affinity Photo.
            </p>
        </div>
    </div>
</section>

<section class="form-section js--section-contact" id="contact">
    <div class="row">
        <h2>Get in touch with me</h2>
    </div>
    <div class="row">
        <% if(error && error.length > 0){ %>
        <div class="error" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>
    <div class="row">
        <form method="post" action="/" class="contact-form">
            <div class="row">
                <div class="col span-2-of-2">
                    <label for="name">Name</label>
                </div>
                <div class="col span-2-of-2">
                    <input type="text" name="name" id="name" placeholder="Your name" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-2-of-2">
                    <label for="email">Email</label>
                </div>
                <div class="col span-2-of-2">
                    <input type="email" name="email" id="email" placeholder="Your email" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-2-of-2">
                    <label>Message</label>
                </div>
                <div class="col span-2-of-2">
                    <textarea name="message" placeholder="Your message" required="required" rows="5"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col span-2-of-2">
                    <input type="submit" value="Send it!">
                </div>
            </div>
            <script
                src="https://www.google.com/recaptcha/api.js?render=6Ld8trIUAAAAAE4hgCxdUGzNK2BL_I715Av6Q4HX"></script>
            <script>
                grecaptcha.ready(function () {
                    grecaptcha.execute('6Ld8trIUAAAAAE4hgCxdUGzNK2BL_I715Av6Q4HX', { action: 'homepage' })
                        .then(token => {
                            document.cookie = `token=${token}`
                        })
                });
            </script>
        </form>
    </div>
</section>

<canvas id="canvas"></canvas>


<% include ./partials/footer %>