/*
 Color Palette:
     White: #efedef
     light grey: #ceccce
     green: #6ead3a
     dark grey: #4c4947
     black: #222022
*/


/* ========================= */
/* BASIC SETUP */
/* ========================= */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    color: #222022;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ========================= */
/* REUSABLE COMPONENTS */
/* ========================= */

.row {
    max-width: 1300px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
    text-align: center;
}
.box {
    padding: 1%;
}
.success {
    border: 1px solid #6ead3a;
    padding: 10px;
    border-radius: 10px;
    background-color: #99ce6e;
}
.error {
    border: 1px solid #d63d26;
    padding: 10px;
    border-radius: 10px;
    background-color: #e26f5e;
}

/* ------- HEADINGS ---------*/

h1,
h2 { text-transform: uppercase; }

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #efedef;
    font-size: 260%;
    font-weight: 400;
    word-spacing: 4px;
    letter-spacing: 1px;
}
h2 {
    font-size: 180%;
    font-weight: 300;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h3 {
    font-weight: 400;
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #6ead3a;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------ PARAGRAPHS ------- */

.box p {
    font-size: 90%;
    line-height: 170%;
}

/* ------ ICONS ------- */
.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #6ead3a;
    font-size: 120%;
    margin-right: 10px;
    
    /*Secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ------ BUTTONS ------- */

.btn { text-shadow: none; }

.btn ion-icon {
    /*Secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -1px;
}

.btn:link, 
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 150px;
    -webkit-transition: background-color 0.2s, border 0.2s;
    transition: background-color 0.2s, border 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #6ead3a;
    border: 2px solid #6ead3a;
    color: #fff;
    margin-right: 15px;
    font-weight: 400;
}

.btn-ghost:link,
.btn-ghost:visited,
input[type=submit] {
    border: 2px solid #6ead3a;
    color: #fff;
    margin-right: 15px;
    font-weight: 400;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #56872d;
    cursor: pointer;   
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
    border: 2px solid #56872d;
}

.btn-ghost:hover,
.btn-ghost:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #56872d;
    border: 2px solid #56872d;
}



/* ========================= */
/* HEADER */
/* ========================= */

header {
    background-image: linear-gradient(rgba(76, 73, 71, 0.6), rgba(76, 73, 71, 0.6)),url('img/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}


.hero-text-box {
    text-align: center;
    position: absolute;
    width: 1300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.hero-text-box p {
    color: #efedef;
    font-size: 120%;
    margin-bottom: 20px;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
	content: '|';
	color: #6ead3a;
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}

/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Main navi */
.main-nav {
    float: left;
    list-style: none;
    margin: 55px 0 20px 0;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li:first-child {
    margin-left: 0;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #efedef;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    color:  #6ead3a;
}

/* Mobile navi */
.mobile-nav-icon {
    float: left;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}
.mobile-nav-icon ion-icon {
    font-size: 200%;
    color: #efedef;
}

/* sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 16px 0;
    border: none;
    color: #222022;
    text-shadow: none;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active{
    border-bottom: 2px solid #6ead3a;
}

/* ========================= */
/* BIO SECTION */
/* ========================= */

.bio-section { 
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

/* ========================= */
/* SKILLS SECTION */
/* ========================= */

.skills-section {
    background-image: linear-gradient(rgba(76, 73, 71, 0.7), rgba(76, 73, 71, 0.7)), url("img/skills.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    line-height: 170%;
    letter-spacing: 1px;
}
.skills-section h2 { 
    color: #efedef;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

.skills-box {
    opacity: 0;
    margin-top: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    width: 70%;
    margin-left: 15%;
    -webkit-box-shadow: 1px 1px 5px #4c4947;
    box-shadow: 1px 1px 5px #4c4947;
}

.skills-box div {
    padding: 15px;
    border-bottom: 1px solid #ceccce;
}
.skills-box div:last-child {
    border-bottom: none;
}

.skills-section h3 { color: #6ead3a; }
.skills-box ul { list-style: none; }

.skills-box ul li { padding: 5px 0; }

/* ========================= */
/* PROJECTS SECTION */
/* ========================= */

figure {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin-top: 50px;
    -webkit-box-shadow: 1px 1px 5px #ceccce;
    box-shadow: 1px 1px 5px #ceccce;
}
figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .45s ease-in-out;
}
.projects-section{ 
    border-bottom: 1px solid #ceccce;
    padding-bottom: 200px;
}

.image img {
    display: block;
    max-width: 100%;
    /*opacity: 0.6;*/
    z-index: -1;
    transition: .3s ease-in-out;
}

.image .is-3by2 {
    padding-top: 66.6666%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #404a47;
    opacity: 1;
    z-index: -1;
}
.image .is-3by2 img {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.projects-section h3 {
    font-size: 120%;
    color: #efedef;
    box-sizing: inherit;
}
.projects-section .btn {
    display: inline-block;
    width: 63%;
    height: auto;
    margin: 3px auto;
    font-size: 90%;
}
.projects-section .row p a {
    color: #3273dc;
    text-decoration: none;
}

.image:hover img, 
.image:active img {
    opacity: 0;
    transform: scale(1.5);
}
figcaption:hover,
figcaption:active { opacity: 1; }


/* ========================= */
/* CONTACT SECTION */
/* ========================= */

.contact-form {
    width: 60%;
    margin: 0 auto;
    text-align: left; 
}

label, input[type=submit] { margin-left: 10px; }

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea { height: 200px; }

*:focus {outline:none} /* Remove Chrome's blue outline on selected forms */

/* ========================= */
/* FOOTER */
/* ========================= */

footer {
    background-color: #4c4947;
    padding: 50px;
    font-size: 80%;
    text-align: center;
    color: #ceccce;
    line-height: 145%;
}

.social-links {
    list-style: none;
}
.social-links li{
    display: inline-block;
    margin: 10px 20px 10px 0;
}
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: none;
    color: #ceccce;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.social-links li a:link,
.social-links li a:visited{
    font-size: 180%;
}

#linkedin:hover {
    color: #007bb5;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
#github:hover {
    color: #fafafa;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
#codepen:hover {
    color: #212121;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}